<a href="https://colab.research.google.com/github/EmAchieng/WWCodeDataSciencePracticeSeries/blob/master/Copy_of_SIT_W0D0_LC2_Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='Q0'></a>
<center><a target="_blank" href="http://www.propulsion.academy"><img src="https://drive.google.com/uc?id=1McNxpNrSwfqu1w-QtlOmPSmfULvkkMQV" width="200" style="background:none; border:none; box-shadow:none;" /></a> </center>
<center> <h1> Tutorial 2, Preparation: Python Data Structures </h1> </center>
<p style="margin-bottom:1cm;"></p>
<center><h4>Propulsion Academy, 2021</h4></center>
<p style="margin-bottom:1cm;"></p>

<div style="background:#EEEDF5;border-top:0.1cm solid #EF475B;border-bottom:0.1cm solid #EF475B;">
    <div style="margin-left: 0.5cm;margin-top: 0.5cm;margin-bottom: 0.5cm;color:#303030">
        <p><strong>Goal:</strong> learn the most important data structures in Python and how to use them</p>
        <strong> Outline:</strong>
        <a id='P0' name="P0"></a>
        <ol>
            <li> <a style="color:#303030" href='#I'>Introduction </a> </li>
            <li> <a style="color:#303030" href='#P1'>Lists</a></li>
            <li> <a style="color:#303030" href='#P2'>Tuple</a></li>
            <li> <a style="color:#303030" href='#P3'>Dictionary</a></li>
            <li> <a style="color:#303030" href='#P4'>Set</a></li>
            <li> <a style="color:#303030" href='#P5'>Looping Techniques</a></li>
            <li> <a style="color:#303030" href='#P6'>Comprehensions</a></li>
            <li> <a style="color:#303030" href='#CL'>Conclusion</a></li>
        </ol>
        <strong>Topics Trained:</strong> list, dict, set, tuples
    </div>
</div>

<nav style="text-align:right"><strong>
        <a style="color:#00BAE5" href="https://monolith.propulsion-home.ch/backend/api/momentum/materials/intro-2-ds-materials/index.html" title="momentum"> Introduction to Data Science</a>|
        <a style="color:#00BAE5" href="https://monolith.propulsion-home.ch/backend/api/momentum/materials/intro-2-ds-materials/weeks/preparation/index.html" title="momentum">Course Preparation</a>|
        <a style="color:#00BAE5" href="https://monolith.propulsion-home.ch/backend/api/momentum/materials/intro-2-ds-materials/weeks/preparation/pages/SIT_W0D0_LC2_Python_Data_Structures.html" title="momentum"> Tutorial 2, Preparation: Python Data Structures</a>
</strong></nav>

<a id='I' name="I"></a>
## [Introduction](#P0)

Data structures hold data together in a predefined structure or pattern.

In Python, there are four built-in data structures:

- lists
- tuples
- dictionaries
- sets

<a id='P1' name="P1"></a>
## [Lists](#P0)

A list is a collection of items in a particular order. You can put any kind of item into the list. You can add, remove, and search for items in lists. Lists are one of the most common data types and you will use them on a daily basis. Theoretical computer science says, lists are a finite, ordered, and mutable sequence of elements.

To define a list, you can group multiple items together by using the square brackets [ ] and the list of items, separated by commas:

In [ ]:
fruits = ['apples', 'bananas', 'oranges', 'pineapples']
print(fruits)

['apples', 'bananas', 'oranges', 'pineapples']

In [ ]:
fruits[0] ="kiwi"

In [ ]:
fruits

['kiwi', 'bananas', 'oranges', 'pineapples']

As written above, you can put any kind of data into lists:

In [ ]:
# Empty list
empty = []
empty

[]

In [ ]:
# Each element has a different type
everything_goes = [1, 'A', 1.123, None]
everything_goes

[1, 'A', 1.123, None]

In [ ]:
# you can even create a list of lists!
list_of_lists = [ ["Coop", "Migros"], [1,2,3,4]]
list_of_lists

[['Coop', 'Migros'], [1, 2, 3, 4]]

In [ ]:
list_of_lists[0][0]

'Coop'

In [ ]:
# this is a similar way to create a list of lists
shops = ["Coop", "Migros"]
numbers = [1,2,3,4]
list_of_lists = [shops, numbers]
list_of_lists

[['Coop', 'Migros'], [1, 2, 3, 4]]

### Accessing Element in a List

Lists are ordered collections. You can access any element in a list by telling Python the position (index) of the desired item. Similar to strings, you can use negative numbers to start counting from the back of the list. You can also use the slicing operator [:] to get longer parts of the list.

<div style="background:#EEEDF5;border:0.1cm solid #EF475B;color:#303030">
    <div style="margin: 0.2cm 0.2cm 0.2cm 0.2cm">
        <b style="color:#EF475B">Warning:</b> 
       Index positions start at 0, not 1!
    </div>
</div>

In [ ]:
fruits = ['apples', 'bananas', 'oranges', 'pineapples']

In [ ]:
# normal access
fruits[1]  # 'bananas'

'bananas'

In [ ]:
fruits[-2] # 'pineapples'

'oranges'

In [ ]:
# slicing
fruits[:2] # ['apples', 'bananas']

['apples', 'bananas']

In [ ]:
fruits

['apples', 'bananas', 'oranges', 'pineapples']

In [ ]:
fruits[1:-1] # ['bananas', 'oranges']

['bananas', 'oranges']

In [ ]:
# accessing lists within lists
list_of_lists = [ ["Coop", "Migros"], [1,2,3,4]]

list_of_lists[0]    # ["Coop", "Migros"]

['Coop', 'Migros']

In [ ]:
list_of_lists[0][1] # "Migros"

'Migros'

In [ ]:
list_of_lists[1][1:-1] # [2,3]

[2, 3]

### Modifying Individual Entries in a List

To change/update an element of a list, you have to use the name of the list and the index of the element you want to change/update. The change happens by assigning the new value to the item.

In [ ]:
fruits = ['apples', 'bananas', 'oranges', 'pineapples']
fruits

['apples', 'bananas', 'oranges', 'pineapples']

In [ ]:
fruits[0] = 'berries'
print(fruits)

['berries', 'bananas', 'oranges', 'pineapples']

### More Methods for Lists

There are many more operations that can be performed on the list data type.

You can get the number of element within a list by using **len(variable)**:

In [ ]:
len(['a','b','c'])

3

If you want to add an element to the end of the list, you can use **.append(new_element)**:

In [ ]:
numbers = [1,2,3]
numbers.append(4)
numbers.append(5)

print(numbers)

[1, 2, 3, 4, 5]

You can add a new element at any position in your list by using the **.insert(index, new_element)**

In [ ]:
numbers = [1,2,3]
numbers.insert(1, 'a')

print(numbers)

[1, 'a', 2, 3]

You can find and remove the first occurrence of a value using **.remove(value)**:

In [ ]:
numbers = ['a','b','c']

numbers.remove('b')

In [ ]:
numbers

['a', 'c']

In [ ]:
numbers.remove('x') # => ValueError

ValueError: list.remove(x): x not in list

You can remove all items of a list using **.clear()**:

In [ ]:
languages = ['C++', 'Python', 'JavaScript', 'Java']
languages.clear()
print(languages)

[]

Other operations include:

1. `.count`
2. `.index`
3. `.sort`
4. `.reverse`

Try them out!

In [ ]:
# Return number of occurrences of value
my_list.count(value)

# Return first index of value, or raise ValueError
my_list.index(value, [start, [stop]])

# Remove, return item at index (def. last) or IndexError
my_list.pop([index])

# Stable sort *in place*
my_list.sort(key=None, reverse=False)

# Reverse *in place*.
my_list.reverse()

### Side note on Iterables

A list is an iterable data type. Iterable means that you can go through each item in sequential order, like this:

In [ ]:
languages = ['C++', 'Python', 'JavaScript', 'Java']
for lang in languages:
    print(lang)

C++
Python
JavaScript
Java

There are other data types that are iterable. One of them is the data type string, which you saw earlier. Others iterables will be coming later on in this document.

Iterables support some general queries:

In [ ]:
# Length (len)
len([])

0

In [ ]:
len("python")

6

In [ ]:
len([4,5,"seconds"])

3

In [ ]:
# Membership (in)
0 in []

False

In [ ]:
'y' in 'python'

True

In [ ]:
'seconds' in [4, 5, 'seconds']

True

<a id='P2' name="P2"></a>
## [Tuple](#P0)

Tuples are used to hold together multiple objects. They are similar to lists, however they are immutable sequences.
This means that once they are defined you cannot delete, add, or edit any values inside of it. Tuples are also iterables.

### Defining a tuple

A tuple looks just like a list, except you use parentheses instead of square brackets. Once you define a tuple, you can access individual elements by using each itemâ€™s index, just as you would for a list.

In [ ]:
rect = [200, 100]

In [ ]:
rect[0] = 20

In [ ]:
rect = (200, 100)

In [ ]:
print(rect[0])
print(rect[1])

200
100

In [ ]:
rect[0] = 0  # TypeError

TypeError: 'tuple' object does not support item assignment

In [ ]:
len(rect)

2

In [ ]:
200 in rect

True

### Looping the tuple

In [ ]:
for values in rect:
    print(values)

200
100

### Tuple packing and unpacking

Packing and unpacking are very powerful concepts for writing short code.

In [ ]:
t = 'a', 'b', 'c' # => converted to tuple
print(t) # => ('a', 'b', 'c')
type(t)  # => tuple

('a', 'b', 'c')

tuple

In [ ]:
x,y,z = t
print(x) # => 'a'
print(y) # => 'b'
print(z) # => 'c'

a
b
c

Tuple packing is often used to return multiple values from a function:

In [ ]:
def greet(name):
    hello = f"Hello {name}"
    length = len(name)
    return (hello, length)

message, name_length = greet('Laurent')

In [ ]:
message

'Hello Laurent'

In [ ]:
name_length

7

If you want to swap two values, you can do it with packing.

In [ ]:
x

'a'

In [ ]:
y

'b'

In [ ]:
# swap two variables x and y, without using packing
temp = x
x = y
y = temp

# same procedure, this time using packing
y, x = x, y

<a id='P3' name="P3"></a>
## [Dictionaries](#P0)

### Basics

Dictionaries allow you to connect pieces of related information. It is a key-value system, in which you can save data with a specific name.
Imagine you have to build a phone book: a dictionary would be the perfect data structure for the job.
The name of the person would be the key, the phone number would be the value.

In computer science terms: dictionaries are mutable maps, they map hashable values to arbitrary objects.

In [ ]:
mydict = {"myvar1": [1,3,4], "myvar2": "No" }

In [ ]:
mydict = {0: [1,3,4], "myvar2": "No" }

In [ ]:
phonebook = {
  "Laurent Meyer": "+41 79 22 33 789",
  "Laurent Hoxhaj": "+41 78 98 65 554"
}

In [ ]:
print(phonebook["Laurent Meyer"]) # print +41 79 22 33 789

+41 79 22 33 789

In [ ]:
print(phonebook["Santa Claus"])   # key does not exit -> KeyError

KeyError: 'Santa Claus'

Dictionaries can also help to structure data, for example to record a person:

In [ ]:
person = {
  'firstname': 'Laurent',
  'lastname': 'Meyer',
  'company' : 'Propulsion Academy'
}
print(person['firstname'])  # Laurent
print(person['lastname'])  # Meyer

Laurent
Meyer

Dictionaries are dynamic data structures where you can add or modify key-value pairs at any given time.

In [ ]:
# create initial dictionary
person = {'firstname': 'Laurent', 'lastname': 'Meyer'}

# add new entries
person['phone'] = '12345'
person['sex'] = 'M'

# modify an existing entry
person['lastname'] = 'Hoxhaj'

print(person)

{'firstname': 'Laurent', 'lastname': 'Hoxhaj', 'phone': '12345', 'sex': 'M'}

You can also start with an empty dictionary:

In [ ]:
person = dict()

person['firstname'] = 'Laurent'
person['lastname'] = 'Meyer'

print(person)

{'firstname': 'Laurent', 'lastname': 'Meyer'}

To delete key-value pairs, use the del statement

In [ ]:
person = {}

person['firstname'] = 'Laurent'
person['lastname'] = 'Meyer'

del person['firstname']
print(person)

{'lastname': 'Meyer'}

### Nesting

And of course - anything can be stored in as a value. Even arrays and other dictionaries:

In [ ]:
all = {
  "one": 1,
  "list": ['a','b','c','d'],
  "person": {'name': 'Laurent', 'lastname': 'Meyer'}
}

### Get with Default

As you saw above, trying to access a key with [] can lead to errors if the key does not exist. To avoid that, you can use the **.get(key, default = None)** method:

In [ ]:
d = {"fullstack": ["mar", "jul", "sep"], "datascience": ["jan", "may", "oct"]}

In [ ]:
d["backend"] # -> KeyError

KeyError: 'backend'

In [ ]:
d.get("backend") # -> returns None

In [ ]:
d.get("backend", []) # returns []

[]

In [ ]:
d.get("fullstack", []) # returns ["mar", "jul", "sep"]

['mar', 'jul', 'sep']

### Looping in the Dictionary

There are three ways to loop through all items in dictionary - using **.keys()**, **.values()**, and **.items()**

In [ ]:
person = {'firstname': 'Laurent', 'lastname': 'Hoxhaj', 'age': 26}

for key, value in person.items():
    print(f"Key: {key}, Value: {value}")

Key: firstname, Value: Laurent
Key: lastname, Value: Hoxhaj
Key: age, Value: 26

In [ ]:
for key in person.keys():
    print("Key: ", key)

Key:  firstname
Key:  lastname
Key:  age

In [ ]:
for value in person.values():
    print("Value: ", value)

Value:  Laurent
Value:  Hoxhaj
Value:  26

You can use these three methods also for other purposes:

In [ ]:
# check if a key exist
'firstname' in person.keys()

True

In [ ]:
person.keys()

dict_keys(['firstname', 'lastname', 'age'])

In [ ]:
'address' in person.keys()

False

In [ ]:
# check if a value exists
'Laurent' in person.values()

True

In [ ]:
'Meyer' in person.values()

False

In [ ]:
# get a list of all keys
keys_list = list(person.keys())
keys_list

['firstname', 'lastname', 'age']

### Other Operations on Dicts

In [ ]:
a = {"one" : 1, "two" : 2}

# figure out the number of key value pairs
len(a) # => 2

2

In [ ]:
"one" in a # equivalent to `key in a.keys()` => True

True

In [ ]:
# copy dictionary
a.copy()

{'one': 1, 'two': 2}

In [ ]:
# remove all entries in dictionary
a.clear()

<a id='P4' name="P4"></a>
## [Sets](#P0)

A set is a collection of distinct (unique) objects. In computer science terms, a set is an unordered collection of distinct hashable elements. Sets are useful for creating lists that only hold unique values in the data set. Unique means that each value can only occur once in a set.

With sets you can perform sets operations like finding the intersection between two sets, testing for membership (union), testing for symmetric difference etc.

We are not going into detail here - for more information on sets, examples and the methods performed on sets you can follow [this link]( https://docs.python.org/3/library/stdtypes.html?highlight=set#set-types-set-frozenset).

Here are a few examples on how to use sets:

In [ ]:
myset = {'banana', 'apple', 'apple'}

In [ ]:
myset

{'apple', 'banana'}

In [ ]:
empty_set = set()
set_from_list = set([1, 2, 1, 4, 3]) # => {1, 3, 4, 2}

basket = {"apple", "orange", "apple", "pear", "banana"}
len(basket) # => 4

4

In [ ]:
"orange" in basket # => True

True

In [ ]:
"crabgrass" in basket # => False

False

In [ ]:
for fruit in basket:
    print(fruit, end='/')

banana/apple/pear/orange/

In [ ]:
# Common set operations
a = set("mississippi")
a

{'i', 'm', 'p', 's'}

In [ ]:
for item in a:
    print(item)

m
i
s
p

In [ ]:
a.add('r') # {'p', 's', 'm', 'r', 'i'}

In [ ]:
a.remove('m') # raises KeyError if 'm' is not present
a.discard('x') # same as remove, except no error

a.pop() # => 's' (or 'i' or 'p')
a.clear()

len(a) # => 0

0

In [ ]:
a = set("abracadabra") # {'a', 'r', 'b', 'c', 'd'}
b = set("alacazam") # {'a', 'm', 'c', 'l', 'z'}

In [ ]:
# Set difference
a - b

{'b', 'd', 'r'}

In [ ]:
# Union
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [ ]:
# Intersection
a & b

{'a', 'c'}

In [ ]:
a

{'a', 'b', 'c', 'd', 'r'}

In [ ]:
b

{'a', 'c', 'l', 'm', 'z'}

In [ ]:
a - b

{'b', 'd', 'r'}

In [ ]:
b - a

{'l', 'm', 'z'}

In [ ]:
# Symmetric Difference
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

<a id='P5' name="P5"></a>
## [More on Looping Techniques](#P0)

To sum it all up, we would like to give you an overview of different ways how to iterate through lists, sets, and alike.

### Items in a Dictionary

In [ ]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}

for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

### Zip

In [ ]:
questions = ['name', 'quest', 'favorite color']
answers = ['Lancelot', 'To seek the holy grail', 'Blue']

# use zip() to generate pairs of entries
for q, a in zip(questions, answers):
    print('What is your {0}? {1}.'.format(q, a))

What is your name? Lancelot.
What is your quest? To seek the holy grail.
What is your favorite color? Blue.

### Reverse iteration

In [ ]:
# use reversed() to loop over sequence in reverse
for i in reversed(range(1, 10, 2)):
    print(i, end=', ')

9, 7, 5, 3, 1,

### Sorted iteration

In [ ]:
basket = ['pear', 'banana', 'orange', 'pear', 'apple']

# use sorted to return a new sorted list before iterating
for fruit in sorted(basket):
    print(fruit)

apple
banana
orange
pear
pear

<a id='P6' name="P6"></a>
## [List Comprehension](#P0)

A very powerful technique in Python is the so-called list comprehension. Comprehension is a very concise syntax used to create data structures.

Let's compare how to create a list of squared values with and without list comprehension

In [ ]:
# create list of squares without comprehension
squares = []
for x in range(100):
    squares.append(x**2)

In [ ]:
# create the exact same list with list comprehension
squares = [x**2 for x in range(100)]

See what we did there? We achieved the same result using only one line! The general syntax of list comprehension is `[f(el) for el in iter]`

- The `for` statement tells Python to loop over a specified iterable
- `f(el)` just means to apply any operation for each element of the loop variables, to generate new elements
- The square brackets `[]` tell Python that we are building a list

You can even modify the loop with a condition: `[f(el) for el in iter if condition(el)]`

It works the same as the example above, but it only keeps elements that satisfy the condition, e.g. `el%2==0`

Let's have a look at some more examples. See if you can figure out what the output will be before trying the examples in the console:

In [ ]:
sentence = "Hello, I am a robot, Nice to meet you!".split(" ")

In [ ]:
sentence

['Hello,', 'I', 'am', 'a', 'robot,', 'Nice', 'to', 'meet', 'you!']

In [ ]:
[word.lower() for word in sentence]

['hello,', 'i', 'am', 'a', 'robot,', 'nice', 'to', 'meet', 'you!']

In [ ]:
[word for word in sentence if len(word) > 5]

['Hello,', 'robot,']

In [ ]:
[(x, x ** 2, x ** 3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [ ]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

Be careful though! You can go crazy with list comprehensions, but remember:

**simple is better than complex!**

<a id='CL' name="CL"></a>
## [Conclusion](#P0)

Now that you know about data structures, let's have a look at flow control!